
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- Tambahkan link CSS untuk Bootstrap di sini -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <!-- Navbar utama -->
    <header>
        <nav class="navbar navbar-expand-lg navbar-blue bg-red sticky-top">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard" style="background-color: white; color: red;">DASHBOARD</a>
                    </li>
                    {{#each categories}}
                        <li class="nav-item{{#if (eq this ../selectedCategory)}} active{{/if}}">
                            <a class="nav-link" href="/?category={{this}}">{{this}}</a>
                        </li>
                    {{/each}}
                    <li class="nav-item">
                        <a class="nav-link" href="/bantuan" style="background-color: white; color: red;">BANTUAN</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>


    <div class="container-fluid mt-5">
        <div class="row">
            {{#each news}}
                <div class="col-lg-3 col-md-4 col-sm-12">
                    <div class="card mb-4">
                        <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}" />
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <a href="{{link}}" class="btn btn-primary" target="_blank">Baca Selengkapnya</a>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">  <!-- Bottom Bar -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        &copy; 2023 Siptya Savira Rahmi & Indah Chania
    </div>
    </footer>

    <!-- Tambahkan script dan link Bootstrap JS di sini -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
